requests==2.23.0
botbuilder-core
botframework-connector
botbuilder-schema
botbuilder-dialogs
botbuilder-ai
botbuilder-applicationinsights
botbuilder-integration-applicationinsights-aiohttp
datatypes-date-time>=1.0.0.a1
opencensus-ext-azure
azure-cognitiveservices-language-luis==0.2.0
datatypes-date-time>=1.0.0.a1
msrest==0.6.19
aiohttp==3.6.2
unittest2
aiounittest